.header {
	position: fixed;
	z-index: 2;
	background: white;
	width: 100%;
	padding-bottom: 10px;
	top: 0;
}

.body {
	margin-top: 75px;
}

.loader {
	background: rgba(255, 255, 255, 0.75);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.sub_sid_data {
	font-size: 0.9em;
	opacity: 0.8;
}

.sub_sid_data span {
	color: slategray;
}

.editArea {
	/* display: none; */
	width: 0px;
	opacity: 0;
	transition: width 0.2s ease-out, opacity 0.2s ease-out;
}

.editArea.show {
	/* display: inline; */
	width: 15px;
	opacity: 1;
}

.highlight {
	background: yellow;
}

.green_bg {
	background: #cdefc4;
}

.red_bg {
	background: #fddde3;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
}

.red-text {
	color: red;
}

.mismatch-popover {
	position: absolute;
	top: -4px;
	left: 35px;
}

ul > li {
	display: grid;
	grid-template-areas: "input main swcurrency totcurrency";
	grid-template-columns: 2em auto 20% 20%;
	padding: 7px 30px 7px 20px;
	align-items: center;
	/* transition: all 0.2s ease-out; */
	border-bottom: solid 2px aliceblue;
}

#input {
	grid-area: input;
}

#totcurrency {
	grid-area: totcurrency;
	text-align: left;
}

#swcurrency {
	grid-area: swcurrency;
	text-align: left;
}

#main {
	grid-area: main;
}

@media (max-width: 900px) {
	ul > li {
		grid-template-areas:
			"input main swcurrency"
			"input main totcurrency";
		grid-template-columns: 2em auto 25%;
	}
}

@media (max-width: 600px) {
	ul > li {
		grid-template-areas:
			"input main main"
			"input main main"
			"input swcurrency totcurrency";
		grid-template-columns: 2em auto;
	}
}
